.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#Canva
{
  border-width: 15px; 
  background-color: aqua;
  border-style: ridge;
  border-color: plum;
}

